<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305009009859-h6n55b3rlnhogbbqvojdvbvudbpf9v7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305009009859-h6n55b3rlnhogbbqvojdvbvudbpf9v7g</string>
	<key>API_KEY</key>
	<string>AIzaSyDbMS2oN43j8SdND81xv7HJekKqRTx30tM</string>
	<key>GCM_SENDER_ID</key>
	<string>305009009859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodolfo.ProyectoMovil</string>
	<key>PROJECT_ID</key>
	<string>proyecto2mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto2mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305009009859:ios:dfea4f4d123df0d1</string>
	<key>DATABASE_URL</key>
	<string>https://proyecto2mobile.firebaseio.com</string>
</dict>
</plist>